<ion-view title="marcacoesGPS" ng-controller="presencaCtrl as vm" ng-init="initPresenca()">
    <div class="bar bar-header h-contato">
		<h1 class="title">Marcações GPS</h1>
		<i class="status icon ion-social-rss" ng-style="status"></i>
		<i class="verific icon ion-android-person" ng-style="verific"></i>	
		<label class="item-icon-left"  ui-sref="presenca">
      		<i class="icon ion-android-arrow-back"></i>
    	</label>
	</div>

    <ion-content class="background-default-presenca">
        <div class="sending" ng-if="send">
            <p>
                <ion-spinner icon="spiral" class="iconSending"></ion-spinner>
                <br/>Enviando...
            </p>
        </div>
				
        <div class="buttonsInOut">
            <div class="entrada">
                <button class="button button-block button-balanced" ng-show="entrada == 1" ng-click="marcacaoGPS(0)">
                    Entrada
                </button>

                <button class="button button-min button-block button-balanced" ng-show="entrada == 0" ng-click="marcacaoGPS(0)">
                    Entrada
                </button>
            </div>

            <div class="saida">
                <button class="button button-block button-assertive" ng-show="saida == 1" ng-click="marcacaoGPS(1)">
                    Saída
                </button>

                <button class="button button-min button-block button-assertive" ng-show="saida == 0" ng-click="marcacaoGPS(1)">
                    Saída
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>    				