<ion-view title="checkList" ng-controller="QuestionarioCtrl as vm">
	<div class="bar bar-header h-contato">
		<h1 class="title">Check List</h1>
		<i class="status icon ion-social-rss" ng-style="status"></i>
		<i class="verific icon ion-android-person" ng-style="verific"></i>
	    <label class="item-icon-left"  ui-sref="presenca">
	    	<i class="icon ion-android-arrow-back"></i>
	    </label>
	</div>

	<ion-content class="background-checkList">
		<div class="sending" ng-if="load">
            <p>
                <ion-spinner icon="spiral" class="iconLoading"></ion-spinner>
                <br/>Carregando...
            </p>
        </div>

		<div class="sending" ng-if="send">
				<p>
					<ion-spinner icon="spiral" class="iconSending"></ion-spinner>
					<br/>Enviando...
				</p>
		</div>

		<div class="question">
			<p class="question-title">
		        {{ vm.question_default.title }}
		    </p>
		    <!--<p class="question-subtitle">
		        {{ vm.question.subtitle }}
		    </p>-->
		    <div class="question-body">
					<div class="list" ng-if="vm.question_default.type == 2">
						<ion-radio ng-model="vm.question_default.answer" ng-repeat='option in vm.question_default.options track by $index' ng-value='option.title' >
							<b>{{ option.title }}</b>
						</ion-radio>
					</div>
					<div class="list" ng-if="vm.question_default.type == 0" >
						<label class="item item-input">
							<input type="text" ng-model="vm.question_default.answer">
						</label>
					</div>
					<div class="list" ng-if="vm.question_default.type == 1">
						<label class="item item-input">
							<textarea ng-model="vm.question_default.answer"></textarea>
						</label>
					</div>
					<div class="list" ng-if="vm.question_default.type == 3">
						 <ion-checkbox ng-change="vm.updateAnswer()" ng-model="option.checked" ng-repeat="option in vm.question_default.options track by $index" ng-value='option.title'>
							<b>{{ option.title }}</b>
						</ion-checkbox>
					</div>
					<div class="list" ng-if="vm.question_default.type == 5">
						<label class="item item-input">
							<input type="number" ng-model="vm.question_default.answer">
						</label>
					</div>
					<div class="list" ng-if="vm.question_default.type == 4">
						<label class="item item-input item-select">
							<div class="input-label">Escolha uma opção</div>
							<select ng-model="vm.question_default.answer" ng-options="option.title for option in vm.question_default.options">
								<option ng-value="option.title">
									{{ option.title }}
								</option>
							</select>
						</label>
					</div>
		    </div>

	      <div class="question-footer">
		        <div class="button-bar">
		          <button class="button button-positive" ng-disabled="!vm.count" on-tap="vm.previous()">Anterior</button>
		          <button class="button button-positive" on-tap='vm.next()' ng-disabled="!vm.question_default.answer"
		              ng-if="vm.count !== vm.size - 1">
		            Próximo
		          </button>
		          <button class="button button-balanced" ng-disabled="!vm.question_default.answer" on-tap='vm.endChecklist()'
		              ng-if="vm.count === vm.size - 1">
		            Enviar
		          </button>
		        </div>
		    </div>
	    </div>
	</ion-content>
</ion-view>     