<ion-view title="contato" ng-controller="sobreCtrl">
     
  <div class="bar bar-header h-contato">
    <h1 class="title">Suporte</h1>
    <i class="status icon ion-social-rss" ng-style="status"></i>
    <i class="verific icon ion-android-person" ng-if=" next == 'presenca'" ng-style="verific"></i>
    <label class="item-icon-left" on-tap="redirectBack()">
      <i class="icon ion-android-arrow-back"></i>
    </label>
  </div>

  <ion-content class="background-default">
  	<div class="list-contato-suporte">
			<div class="item item-divider item-body ion-ios-telephone">
				Contato
			</div>
			<label class="item item-body">
				Adeilton Meneses
				<br/>
				<label class="ion-social-whatsapp"> (11) 97971-8423</label>
			</label>
			<div class="item item-divider item-body">
				Horário de atendimento
			</div>
			<label class="item item-body"> 
				08:00h às 14:00h
				<br/>
				Segunda-Feira à Sexta-Feira
			</label>
		</div>

		<div class="list-contato-suporte">
			<div class="item item-divider item-body">
				Como utilizar os botões abaixo?
			</div>
			<label class="item item-body">
				Utilize o botão botão "Entrada/ Saída Offline" para verificar suas batidas em Modo Offline e o botão "Registros Offline" para verificar seu Login Offline.
				Para maiores informações confira a explicação detalhada em Perguntas Frequentes.
			</label>
		</div>

		<div class="list-contato-suporte" ng-show="latitude">
			<label class="item item-body">
				Latitude: {{ latitude }}
				<br/>
				Longitude: {{ longitude }}
			</label>
			<!-- <a class="item" href='https://www.google.com/maps/search/?api=1&query=' + latitude + ',' + longitude>Mostrar no mapa</a> -->
		</div>

		<div class="dados">
			<button class="button button-wine" ng-click="dadosSQLite()">
				Entrada/ Saída Offline
			</button>
		</div>

		<div class="dados">
			<button class="button button-wine" ng-click="dados()" on-hold="checkDebug()">
				Registros Offline
			</button>
		</div>

		<div class="dados">
			<!--<button class="button button-wine" ng-click="reset()">
				Apagar Registros
			</button>-->
			<button class="button button-dark" ng-click="debug()" ng-if="debugging == 1" on-hold="deleteDebug()">
				Debug
			</button>
		</div>
  </ion-content>
</ion-view>



<!--<div class="dados">
			<button class="button button-block button-balanced" ng-click="">
				Cadastrar digital
			</button>
		</div>-->