<ion-view title="desbloqueio" ng-controller="desbloqueioCtrl" >
	<div class="bar bar-header h-contato">
		<h1 class="title">Desbloqueio</h1>
		<i class="status icon ion-social-rss" ng-style="status"></i>
		<i class="verific icon ion-android-person" ng-style="verific"></i>	
		<label class="item-icon-left"  ui-sref="presenca">
      		<i class="icon ion-android-arrow-back"></i>
    	</label>
	</div>

	<ion-content class="background-default-materiais">
		<div class="sending" ng-if="send">
			<p>
				<ion-spinner icon="spiral" class="iconSending"></ion-spinner>
				<br/>Solicitando...
			</p>
		</div>

		<div class="item item-divider item-body">
			Autorize o acesso de Login para o Colaborador!
		</div>
        
        <div class="body">
            <p><label>Digite o nome de usuário do Colaborador: </label></p>
            <label class="item item-input">
                <input type="text" placeholder="ex.: joao.silva" ng-model="username" required/>
            </label>
        </div>

        <div class="body">
            <button class="button button-full button-positive"
            ng-click="desbloquear(username)"
            ng-disabled="!username">
				Desbloquear
			</button>
		</div>
	</ion-content>
</ion-view>