<ion-view title="espelhoColaborador" ng-controller="espelhoColaboradorCtrl" >
	<div class="bar bar-header h-contato">
		<h1 class="title">Espelho Colaborador</h1>
		<i class="status icon ion-social-rss" ng-style="status"></i>
		<i class="verific icon ion-android-person" ng-style="verific"></i>
    	<label class="item-icon-left"  ui-sref="presenca">
	     	<i class="icon ion-android-arrow-back"></i>
	    </label>
	</div>

	<ion-content class="background-espelhoColaborador">
		<div class="loading" ng-if="load">
			<p>
				<ion-spinner icon="spiral" class="iconLoading"></ion-spinner>
				<br/>Carregando...
			</p>
		</div>

		<div class="list-contato">
			<label class="item item-divider">Insira um intervalo de data para Início e Fim</label>
			<table class="item item-divider">
				<tr>
					<td class="col">Data de início: </td>
					<td>
						<input type="date"
						ng-model="begin"
						required>
					</td>
					<td class="col">Data de fim: </td>
					<td>
						<input type="date"
						ng-model="end"
						ng-disabled="!begin"
						required>
					</td>
				</tr>
			</table>
		</div>

		<div class="info-periodo">
			<label> * Insira um período de até no máximo 30 dias (um mês). </label>
		</div>

		<div class="buttonReport">
			<button class="button button-wine" ng-click="buscarRotina(begin, end)" ng-disabled="!begin || !end">
				Buscar Rotina
			</button>
		</div>

		<div class="list-contato" ng-if="result.length">
			<!-- <div ng-repeat="rotina in result track by $index" ng-if="result.length"> -->
				<div class="row header">
					<div class="col item item-divider">Localidade</div>
					<div class="col item item-divider">Dia</div>
					<div class="col item item-divider">Entr. 1</div>
					<div class="col item item-divider">Saída 1</div>
					<div class="col item item-divider">Entr. 2</div>
					<div class="col item item-divider">Saída 2</div>
					<div class="col item item-divider">T. Total</div>
					</div>
					<div class="row" ng-repeat="rotina in result track by $index">
						<div ng-show="!rotina.emBranco" class="row header">
							<div class="col item item-body">{{ !rotina.emBranco ? rotina.cartao_ponto[0].loja: rotina.loja }}</div>
							<div class="col item item-body">{{ !rotina.emBranco ? rotina.cartao_ponto[0].ponto: rotina.dia  | date }}</div>
							<!-- <div class="col item item-body" ng-repeat="marcacao in rotina.cartao_ponto track by $index">{{ marcacao.ponto | time }}</div> -->
							<div class="col item item-body" ng-repeat="pos in [0, 1, 2, 3] track by $index">{{ rotina.cartao_ponto[pos].ponto || ' ' | time }}</div>
							<!-- <div class="col item item-body" 
								ng-show="!rotina.emBranco" 
								ng-repeat="horario in rotina.diff track by $index"> -->
							<div class="col item item-body">
								{{ !rotina.emBranco ? rotina.diff[0]: rotina.hora }}h{{ !rotina.emBranco ? rotina.diff[1]: rotina.minuto }}min
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="list-contato report"> -->
				<!-- <div class="list-contato" ng-show="result.length"> -->
				<!-- <table class="item item-divider">
					<thead class="list-contato">
						<th width=50>Loja</th>
						<th width=50>Entrada 01</th>
						<th width=50>Saída 01</th>
						<th width=50>Entrada 02</th>
						<th width=50>Saída 02</th>
						<th width=50>T. Total</th>
					</thead>
					<tbody class="list-contato">
						<tr ng-repeat="rotina in result track by $index">
							<td width=50>{{ !rotina.emBranco ? rotina.cartao_ponto[0].loja: rotina.loja }}</td>
							<td width=50 ng-repeat="marcacao in rotina.cartao_ponto track by $index">
								{{ marcacao.ponto | dateTime }}
							</td>
							<td width=50 ng-show="!rotina.emBranco" ng-repeat="horario in rotina.diff track by $index">
								{{ horario }}
							</td>
						</tr>
						<br/>
					</tbody>
				</table> -->
					<!-- <div ng-show="!rotina.emBranco" class="item item-divider">
						Loja: {{ !rotina.emBranco ? rotina.cartao_ponto[0].loja: rotina.loja }}
					</div>
					<div>
						<table>
							<thead ng-show="!rotina.emBranco" class="item item-divider">
								<th>Loja</th>
								<th>Entrada 01</th>
								<th>Saída 01</th>
								<th>Entrada 02</th>
								<th>Saída 02</th>
								<th>T. Total</th>
							</thead>
							<tbody ng-show="!rotina.emBranco" class="item item-body">
								<!-- <tr ng-repeat="rotina in result track by $index"> -->
									<!-- <td width=50>{{ !rotina.emBranco ? rotina.cartao_ponto[0].loja: rotina.loja }}</td>
									<td ng-show="!rotina.emBranco" ng-repeat="marcacao in rotina.cartao_ponto track by $index">
										{{ marcacao.ponto | dateTime }}
									</td>
									<td ng-show="!rotina.emBranco" ng-repeat="horario in rotina.diff track by $index">
										{{ horario }}
									</td> -->
								<!-- </tr> -->
								<!-- <br/>
							</tbody>
						</table>
					</div> --> 
				
					<!-- <div class="item item-body" ng-repeat="marcacao in rotina.cartao_ponto track by $index">
						{{ marcacao.ponto | dateTime }}	<br/>
					</div>
					<div class="item item-body" ng-show="!rotina.emBranco" ng-repeat="horario in rotina.diff track by $index">
						{{ horario | time }}	
					</div> -->

			<!-- </div> -->
				<!-- </div> -->
			<!-- </div> -->
		</div>

		<!-- <div class="row header">
			<div class="col">Loja</div>
			<div class="col">Entrada 1</div>
			<div class="col">Saída 1</div>
			<div class="col">Entrada 2</div>
			<div class="col">Saída 2</div>
			<div class="col">T. Total</div>
			<div class="col"></div>
			</div>
			<div class="row" ng-repeat="data in ctrl.data">
			<div class="col">{{data.name}}</div>
			<div class="col">{{data.code}}</div>
			<div class="col">LK {{data.limit}}</div>
			<div class="col">{{data.account}}</div>
			<div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div>
		</div> -->
	</ion-content>
</ion-view>

