<ion-view title="fac" ng-controller="sobreCtrl">
     
  <div class="bar bar-header h-contato">
    <h1 class="title">Perguntas Frequentes</h1>
    <i class="status icon ion-social-rss" ng-style="status"></i>
    <i class="verific icon ion-android-person" ng-if=" next == 'presenca'" ng-style="verific"></i>
    <label class="item-icon-left" on-tap="redirectBack()">
      <i class="icon ion-android-arrow-back"></i>
    </label>
  </div>

  <ion-content class="background-default">
  	<div class="list-contato">
        <h1 class="item item-divider">
            Problemas ao fazer login?
        </h1>
        <div class="item item-divider item-body">
            É a primeira vez que está usando a aplicação?
        </div>
        <label class="item item-body">
            Ao utilizar o aplicativo pela primeira vez é necessário estabelecer conexão com internet, caso não tenha 
            verificado, por favor, conecte seu dispositivo à uma rede.
        <br/>
            O ícone <i class="icon ion-social-rss"></i> na parte de cima do aplicativo indica se você tem conexão 
            com internet. Verifique se ele está Conectado (verde) ou Desconectado (preto).
        <br/>
            Depois que o ícone indicar que você possui conexão com internet (estiver verde), preencha os campos de 
            Usuário e Senha para entrar na aplicação e a partir poderá usar o aplicativo em Modo Offline, pois seus 
            dados ficarão salvos no seu dispositivo.
        </label>

        <!--<div class="item item-divider item-body">
            Não sabe sua senha, esqueceu ou está com problemas para efetuar Login?
        </div>
        <label class="item item-body">
            Entre em contato com a Magali Marques, funcionária da Dois Cunhados para problemas com Usuário e Senha. 
        </label>-->
	</div>

    <div class="list-contato">
        <h1 class="item item-divider">
            Problemas ao escanear o QRCode da localidade?
        </h1>
        <div class="item item-divider item-body">
            O aplicativo não possibilita utilizar a câmera do seu dispositivo?
        </div>
        <label class="item item-body">
            Ao utilizar o aplicativo pela primeira vez você precisa permitir todas as solicitações para uso de Câmera e Localização.
            Caso tenha negado, é preciso acessar as Configurações do dispositivo > Aplicativos > LEDi PROMOTER > Permissões > E habilitar todas 
            as permissões.
        </label>

        <div class="item item-divider item-body">
            Como verificar minhas batidas em Modo Online e Offline?
        </div>
        <label class="item item-body">
            As batidas em Modo Online podem ser visualizadas na tela de Presença através do botão "Meus Registros" e na tela principal, são exibidas todas as Entradas
            e Saídas da loja realizadas no dia.
            <br/>
            Para batidas em Modo Offline você pode visualiza-las na tela de Suporte através do botão "Entrada/ Saída Offline", são exibidas as
            batidas salvas no seu dispositivo. Quando o dispositivo estabelecer conexão com internet e os registros forem enviados 
            você poderá visualiza-los na tela de Presença e tela principal em "Meus Registros".
        </label>
	</div>

    <div class="list-contato">
        <h1 class="item item-divider">
            Como utilizar o botões da tela de Suporte?
        </h1>
        <h1 class="item item-divider">
            Botão Entrada/ Saída Offline
        </h1>
        <label class="item item-body">
            Ao clicar no botão “Entrada/ Saída Offline” é possível verificar quais procedimentos de Entrada e Saída foram feitos em Modo offline 
            e que ainda precisam ser enviados para a nuvem da LEDi PROMOTER. Os mesmos são enviados automaticamente quando a 
            conexão com internet é estabelecida.
            <br/>
            Quando os registros forem enviados você pode verificá-los na tela de Presença em "Meu Relatório", lembrando que 
            apenas são exibidas as batidas do dia atual.
        </label>
        <h1 class="item item-divider">
            Botão Meus Registros
        </h1>
        <label class="item item-body">
            Ao clicar no botão “Meus registros” é possível verificar quais procedimentos de Login foram feitos em Modo offline 
            e que ainda precisam ser enviados para a nuvem da LEDi PROMOTER. Os mesmos são enviados automaticamente quando a 
            conexão com internet é estabelecida.
            <br/>
        </label>
        <!--<h1 class="item item-divider">
            Botão Apagar Registros
        </h1>
        <label class="item item-body">
            O botão “Apagar registros” deve ser usado somente quando o Suporte entrar em contato com o funcionário. 
            Sua função é ser utilizado para manutenção a distância quando o arquivo existente no dispositivo é corrompido e 
            precisa ser formatado, evitando ser necessário desinstalar e instalar novamente o aplicativo.
        </label>-->
	</div>
  </ion-content>
</ion-view>