<ion-view title="sobre" ng-controller="fileCtrl" >
	<div class="bar bar-header h-contato">
		<h1 class="title">File</h1>
		<i class="status icon ion-social-rss" ng-style="status"></i>
		<i class="verific icon ion-android-person" ng-style="verific"></i>	
		<label class="item-icon-left"  ui-sref="presenca">
      		<i class="icon ion-android-arrow-back"></i>
    	</label>
	</div>

	<ion-pane class="background-default-sobre">
		<div class="header">
			<button class="button button-block button-balanced" ng-click="testing()">
                Teste File
            </button>
		<div>
		<div class="desenvolvimento">
			<img src="img/ledi.png" width="80" height="80">
			<br/>
			<p>LEDi</p>
		</div>
	</ion-pane>
</ion-view>