 <ion-view title="login" ng-controller="loginCtrl" >
     
  <div class="bar bar-header h-login bar-light">
    <h1 class="title"></h1>
    <i class="gpsLogin icon ion-location" ng-style="gpsColor"></i>
    <i class="status icon ion-social-rss" ng-style="status"></i>
  </div>

  <ion-pane class="background-default-login">
      <div class="logo" ng-style="verific">
      </div>

      <div class="faq">
          <a class="icon icon ion-help-circled" href="#/fac/login"></a>
      </div>
      
      <div class="loading" ng-if="load">
        <p>
          <ion-spinner icon="spiral" class="iconLoading"></ion-spinner>
          <br/>Conectando...
        </p>
      </div>
      <!-- {{ model }}, {{ uuid }}, {{ versionDevice }} -->
	    <div class="main-background">
        <div class="list list-inset">
          <form ng-submit="login()">
            <label class="item item-input-user item-stacked-label">
              <span class="input-label">Nome de Usuário</span>
              <input type="text" placeholder="Digite seu nome" ng-model="username" autocapitalize="off" autocorrect="off"> 
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Senha</span>
              <input type="password" placeholder="Digite sua senha" ng-model="password" autocapitalize="off" autocorrect="off" required>
            </label>
            
            <!-- <ul>
              <li class="item item-checkbox checkbox-balanced">
                Lembrar Usuário
                <label class="checkbox">
                    <input type="checkbox" />
                </label>
              </li>
            </ul> -->

            <button class="button button-login button-block"  ng-click="digital(username, password)" ng-disabled="!username || !password">
              Entrar <br/>
            </button>
          </form>

          <a class="button button-problem button-block" href="#/contato/login">
            Suporte
          </a>

          <!-- <button class="button button-login button-block"  ng-click="digital()">
            Entrar <br/>
          </button> -->

          <div class="button-footer">
            <!--<a class="button button-problem" href="#/fac/login">
              Perguntas Frequentes
            </a>-->
          </div>
        </div>
        <center><label class="versao">Versão: {{ versao }}</label></center>
     </div>
  </ion-pane>
</ion-view>


<!--<button class="button button-login button-block"  ng-click="" ng-disabled="username || password">
  Login Biométrico <br/>
</button>-->