<ion-view title="mapa" ng-controller="presencaCtrl" ng-init="initPresenca()">
    <div class="bar bar-header h-contato">
        <h1 class="title">Mapa</h1>
		<i class="gps icon ion-location" ng-style="gpsColor"></i>
        <i class="status icon ion-social-rss" ng-style="status"></i>
        <i class="verific icon ion-android-person" ng-style="verific"></i>	
        <label class="item-icon-left"  ui-sref="presenca">
            <i class="icon ion-android-arrow-back"></i>
        </label>
    </div>

    <ion-content class="background-map">
        <div class="sending" ng-if="send">
            <p>
                <ion-spinner icon="spiral" class="iconSending"></ion-spinner>
                <br/>Enviando...
            </p>
        </div>

        <div id="map">
        </div>

        <div class="atualizar">
            <i class="button button-icon" ng-click="updateMap()">
            </i>
        </div>
                
        <div class="buttonsMap">
            <button class="button button-balanced" ng-show="entrada == 1" ng-click="checkin()">
                Entrada
            </button>

            <button class="button button-min button-balanced" ng-show="entrada == 0" ng-click="checkin()">
                Entrada
            </button>
            <!-- <p ng-style="checkCoordsIn">Latitude: {{lat}} <br/> Longitude: {{ longt }} </p> -->
            
            <button class="button button-assertive" ng-show="saida == 1" ng-click="checkout()">
                Saída
            </button>

            <button class="button button-min button-assertive" ng-show="saida == 0" ng-click="checkout()">
                Saída
            </button>
        </div>
    </ion-content>
</ion-view>    				