<ion-view title="marketing" ng-controller="marketingCtrl">
  <div class="bar bar-header h-contato">
    <h1 class="title">Mensagens</h1>
    <i class="status icon ion-social-rss" ng-style="status"></i>
    <i class="verific icon ion-android-person" ng-style="verific"></i>
    <label class="item-icon-left" ui-sref="presenca">
      <i class="icon ion-android-arrow-back"></i>
    </label>
  </div>

  <ion-content class="background-default">
		<div class="list-contato">
			<div class="item item-divider">
					<!--<img src="img/logo.png">-->
					<h2>LEDi PROMOTER</h2>
					<!-- <p>Comunicados</p> -->
				</div>

				<div class="item item-body">
					<div>
							<label> {{ noMessages }} </label>
					</div>
					<div ng-repeat="mensagem in mensagens track by $index">
							<label> {{ mensagem.mensagem }} </label>
							<br/>
							<div class="link" ng-click="openLink(mensagem.link)"> {{ mensagem.link }} </div>
							<br/>
							<a class="subdued"> {{ mensagem.data | dateTime }} </a>
							<br/><br/><br/>
					</div>
				</div>
		</div>
  </ion-content>
</ion-view>