<ion-view title="sobre" ng-controller="materiaisCtrl" >
	<div class="bar bar-header h-contato">
		<h1 class="title">Solicitar Materiais</h1>
		<i class="status icon ion-social-rss" ng-style="status"></i>
		<i class="verific icon ion-android-person" ng-style="verific"></i>	
		<label class="item-icon-left"  ui-sref="solicitacoes">
      		<i class="icon ion-android-arrow-back"></i>
    	</label>
	</div>

	<ion-content class="background-default-materiais">
		<div class="sending" ng-if="send">
			<p>
				<ion-spinner icon="spiral" class="iconSending"></ion-spinner>
				<br/>Enviando...
			</p>
		</div>

		<!--<div>
            <div class="item item-divider item-body" ng-if="fail === false">
                Loja: {{ loja }}
            </div>

            <div class="item item-divider item-body" ng-if="fail">
                Loja: {{ semLoja }}
            </div>
        </div>

        <div class="buttons">
            <button class="button button-wine" ng-click="escanear()">
			    Escanear
		    </button>
        </div>-->

		<div class="item item-divider item-body">
			Solicite os materiais que sua loja está precisando!
		</div>

		<div class="body">
            <label>Digite o nome da Loja: </label>
            <label class="item item-input">
                <input type="text" placeholder="Nome da loja, ex.: LEDi A" ng-model="loja" required></textarea>
            </label>
		</div>

		<div class="body">
            <label>Descreva quais materiais deseja: </label>
            <label class="item item-input">
                <textarea placeholder="Solicito os materiais..." ng-model="materiais" required></textarea>
            </label>

            <button class="button button-full button-balanced" ng-click="solicitar(loja, materiais)" ng-disabled="!loja || !materiais">
				Solicitar
			</button>
		</div>
	</ion-content>
</ion-view>