<ion-view title="sobre" ng-controller="sobreCtrl" >
	<div class="bar bar-header h-contato">
		<h1 class="title">Sobre</h1>
		<i class="status icon ion-social-rss" ng-style="status"></i>
		<i class="verific icon ion-android-person" ng-style="verific"></i>	
		<label class="item-icon-left"  ui-sref="presenca">
      		<i class="icon ion-android-arrow-back"></i>
    	</label>
	</div>

	<ion-pane class="background-default-sobre">
		<div class="header">
			<h3>Versão</h3> 
			<p>{{ versao }}</p>{{ data }}
		<div>
		<div class="desenvolvimento">
			<img src="img/ledi.jpeg" width="80" height="80">
			<br/>
			<p>LEDi</p>
		</div>
	</ion-pane>
</ion-view>