<ion-view title="soliitacoes">
	<div class="bar bar-header h-contato">
		<h1 class="title">Solicitar</h1>
		<i class="status icon ion-social-rss" ng-style="status"></i>
		<i class="verific icon ion-android-person" ng-style="verific"></i>	
		<label class="item-icon-left"  ui-sref="presenca">
      		<i class="icon ion-android-arrow-back"></i>
    	</label>
	</div>

    <ion-pane class="background-default-materiais">				
        <div class="buttonsInOut">
            <button class="button button-block button-outline button-balanced" ui-sref="materiais">
                Materiais
            </button>

            <button class="button button-block button-outline button-energized" ui-sref="uniformes">
                Uniformes
            </button>

            <button class="button button-block button-outline button-assertive" ui-sref="transferencia">
                Transferência
            </button>
        </div>
    </ion-pane>
</ion-view>

