<ion-view title="transferencia" ng-controller="transferenciasCtrl" >
	<div class="bar bar-header h-contato">
		<h1 class="title">Transferência</h1>
		<i class="status icon ion-social-rss" ng-style="status"></i>
		<i class="verific icon ion-android-person" ng-style="verific"></i>	
		<label class="item-icon-left"  ui-sref="solicitacoes">
      		<i class="icon ion-android-arrow-back"></i>
    	</label>
	</div>

	<ion-content class="background-default-materiais">
		<div class="sending" ng-if="send">
			<p>
				<ion-spinner icon="spiral" class="iconSending"></ion-spinner>
				<br/>Enviando...
			</p>
		</div>

		<div class="item item-divider item-body">
			Solicite a Transferência de loja para os colaboradores!
		</div>

        <div class="body">
            <label>Digite o nome completo do colaborador: </label>
            <label class="item item-input">
                <input type="text" placeholder="Nome e sobrenome, ex.: João Silva" ng-model="colaborador" required>
            </label>
        </div>

        <div class="body">
            <label>Digite o nome da Loja em que o colaborador trabalha atualmente: </label>
            <label class="item item-input">
                <input type="text" placeholder="Nome da loja, ex.: LEDi A" ng-model="lojaAtual" required>
            </label>
        </div>
        
        <div class="body">
            <label>Digite o nome da Loja para qual o colaborador será transferido: </label>
            <label class="item item-input">
                <input type="text" placeholder="Nome da loja, ex.: LEDi B" ng-model="lojaFinal" required>
            </label>
		</div>

		<div class="body">
            <label>Data de transferência: </label>
            <!-- <label class="item item-input"> -->
            <center>  
                <input type="date"
                ng-model="dataTransferencia"
                required>
            <!-- </label> -->
            </center>
            <button class="button button-full button-balanced" ng-click="solicitar(colaborador, lojaAtual, lojaFinal, dataTransferencia)" ng-disabled="!colaborador || !lojaAtual || !lojaFinal || !dataTransferencia">
				Solicitar
			</button>
		</div>
	</ion-content>
</ion-view>