<ion-view title="trocaSenha" ng-controller="trocaSenhaCtrl">
	<div class="bar bar-header h-contato">
		<h1 class="title">Alterar senha</h1>
		<i class="status icon ion-social-rss" ng-style="status"></i>
		<i class="verific icon ion-android-person" ng-style="verific"></i>	
		<label class="item-icon-left"  ui-sref="presenca">
      		<i class="icon ion-android-arrow-back"></i>
    	</label>
	</div>

	<ion-content class="background-default-materiais">
		<div class="sending" ng-if="send">
			<p>
				<ion-spinner icon="spiral" class="iconSending"></ion-spinner>
				<br/>Enviando...
			</p>
		</div>
        <form ng-submit="alterar()">
            <div class="body">
                <label>Digite seu nome de Usuário: </label>
                <label class="item item-input">
                    <input type="text" ng-model="username" autocapitalize="off" autocorrect="off" required>
                </label>
            </div>
            
            <div class="body">
                <label>Digite sua senha: </label>
                <label class="item item-input">
                    <input type="password" ng-model="password" autocapitalize="off" autocorrect="off" required>
                </label>
            </div>
            
            <div class="body">
                <label>Digite sua nova senha: </label>
                <label class="item item-input">
                    <input type="password" ng-model="newPassword" autocapitalize="off" autocorrect="off" required>
                </label>
            </div>
            
            <div class="body">
                <label>Confirme sua nova senha: </label>
                <label class="item item-input">
                    <input type="password" ng-model="repeatPassword" autocapitalize="off" autocorrect="off" required>
                </label>
            </div>

            <div class="body">
                <button class="button button-full button-balanced" ng-click="solicitar(username, password, newPassword, repeatPassword)" ng-disabled="!username || !password || !newPassword || !repeatPassword">
                    Alterar senha
                </button>
            </div>
        </form>
	</ion-content>
</ion-view>