<ion-view title="versao" ng-controller="sobreCtrl" >
	<div class="bar bar-header h-contato">
		<h1 class="title">Versão desatualizada</h1>
		<i class="status icon ion-social-rss" ng-style="status"></i>
		<i class="verific icon ion-android-person" ng-style="verific"></i>	
		<label class="item-icon-left"  ui-sref="login">
      		<i class="icon ion-android-arrow-back"></i>
    	</label>
	</div>

	<ion-pane class="background-default-versao">
		<div class="header">
			<h3>Você está usando a versão: </h3> 
			<h3>{{ versao }}</h3>{{ data }}
		</div>
		<div class="desenvolvimento">
			<h3>Atualize seu aplicativo para a versão mais recente!</h3> 
            <p>
                Para atualizar procure pelo aplicativo na Google Play e clique em atualizar. <br/>
                Feito isso, você poderá utilizar o aplicativo novamente.
            </p>
		</div>
		<div class="footer">
			<img src="img/ledi.png" width="60" height="60">
			<br/>
			<p>LEDi</p>
		</div>
	</ion-pane>
</ion-view>